body {
    font-family: 'roboto', sans-serif;
    margin: 0;
}

.container {
    width: 96%;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    margin: 0 0 0 0px;
}

.btn {
    padding: 11px 57px;
    background: none;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 1s all;
    margin: 0;
}

nav {
    background-color: #4E4E4E;
}

nav a {
    margin-left: 45px;
    text-decoration: none;
    color: white;
}

.nav--links {
    display: none;
}
.nav--toggler {
    
    cursor: pointer;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 50px;
}

.nav-container > a:first-of-type {
    margin: 0;
    font-weight: bold;
}

.nav-container div a:last-of-type {
    cursor: not-allowed;
}

#landingpage {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('https://picsum.photos/1600/1200');
    background-size: cover;
    background-position: center;
}

.landingpage-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.15);
}

.landingpage-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.landingpage-text {
    width: 80%;
}

.landingpage-text h1, h2{
    margin-bottom: 50px;
    color: white;
}

#offer {
    padding: 80px 0;
    background: #405D78;
}

#offer h1 {
    margin-bottom: 80px;
    color: white;
    text-align: center;
}
      
.box-container {
    display: grid;
    grid-row-gap: 50px;
    grid-row: auto;
    padding: 0 5%;
}
      
.box-container > div:after {
    content: '';
    display: block;
    background: #F1F1F1;
    padding-bottom: 100%;
}
      
.box-container > div {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
      
.box-container .box-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 28px;
}
    
.box-container .box-content span {
    font-size: 18px;
}
      
.box-new:before {
    content: '';
    position: absolute;
    top: -11px;
    left: -11px;
    width: 22px;
    height: 22px;
    background: #E07A64;
    border-radius: 50%;
}

footer {
      background-color: #4E4E4E;
}

.foot-section {
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%; 
}

.foot-section i {
    margin:0 5px 15px 5px;
    cursor: pointer;
}
.text-footer {
    margin:15px 4%;
    font-size: 14px;
    line-height:21px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

#about {
    display: absolute;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-container .person:nth-child(2n+1) {
     flex-direction: row-reverse;
}
  
.about-container h1 {
    text-align: center;
}

.person {
    display: grid;
    align-items: center;
    justify-content: center;
}
.person p {
    text-align: center;
}

.image {
    position: relative;
    width: 200px; 
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    flex-shrink: 0;
    margin:0 auto;
}
.description {
    
    margin: 2% 5%;
    text-align: center;
}
.description > h1{
    font-size: 26px;
}
.preson .description > p {
    font-size: 18px;
    line-height: 21px;
}
.about-container > h1{
    margin-top: 10px;
}