.container {
    width: 960px;
}
  
.btn {
    margin-left: 0;
    transition: 1s all;
}

.btn:hover {
    background: white;
    color: black;
}

h2 {
    margin-left: 0;
  }
  .about-container h1 {
      margin-top: 20px;
    }

.graduation{
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.box-container .graduation:hover {
    transform: scale(1.05);
    transition-timing-function: linear;
}

  i {
    margin: 18px 25px 18px 18px;
  }
  
  .person {
    display: flex;
    justify-content: space-between;
    padding: 7% 0;
    margin: 0 5%;
  }
  
  .description {
    width: 70%;
  }

  .foot-section i {
    margin: 0;
  }
  .text-footer {
      margin: 15px 0;
  }