.nav--links {
  display: block;
}
.nav--toggler {
  display: none;
}
      
.container {
  width: 760px;
}

.btn {
  margin-left: 0;
}

.nav-container {
  width: 94%;
}

.landingpage-container {
  width: 94%;
}

h2 {
  margin-left: 0;
}

.landingpage-text {
  width: 70%;
}
    
.box-container {
  grid-template-columns: 29% 29% 29%;
  grid-template-rows: auto;
  grid-column-gap: 46.8px;
  grid-row-gap: 46.8px;
  width: 720px;
  margin: 0 auto;
  padding: 0;
}

.foot-section {
  flex-direction: row;  
}

.text-footer {
  font-size: 18px;
}
.icons {
  padding: 10%;
}

.icons > i:first-of-type {
  padding: 25%;
}
i {
  margin: 18px 25px 18px 18px;
}

.person {
  display: flex;
  justify-content: space-between;
  padding: 7% 0;
  margin: 0 5%;
}

.person p {
  text-align: left;
}
.about-container .person:nth-child(2n+1) p {
  text-align: right;
}

.description {
  width: 70%;
}
.foot-section i {
  margin: 0;
}
.icons {
  padding: 0 4%;
  
}
.icons i {
  align-items: center;
}